	p {margin: 0; padding: 0;}	.ft10{font-size:16px;font-family:Times;color:#ffffff;}
	.ft11{font-size:22px;font-family:Times;color:#3b2d8a;}
	.ft12{font-size:16px;font-family:Times;color:#231f20;}
	.ft13{font-size:12px;font-family:Times;color:#100f0d;}
	.ft14{font-size:13px;font-family:Times;color:#231f20;}
	.ft15{font-size:22px;font-family:Times;color:#f03c4f;}
	.ft16{font-size:13px;font-family:Times;color:#11100e;}
	.ft17{font-size:13px;font-family:Times;color:#100f0d;}
	.ft18{font-size:13px;font-family:Times;color:#262b2d;}
	.ft19{font-size:13px;font-family:Times;color:#83d4b7;}
	.ft110{font-size:13px;font-family:Times;color:#231f20;}
	.ft111{font-size:10px;font-family:Times;color:#231f20;}
	.ft112{font-size:8px;font-family:Times;color:#231f20;}
	.ft113{font-size:10px;font-family:Times;color:#83d4b7;}
	.ft114{font-size:32px;font-family:Times;color:#ffffff;}
	.ft115{font-size:12px;line-height:21px;font-family:Times;color:#100f0d;}
	.ft116{font-size:10px;line-height:16px;font-family:Times;color:#231f20;}