
<div style="background-color: white;">
<div id="page1-div" style="position:relative;width:892px;height:750px;">
<img width="892" height="630" src="../../../../assets/images/avatars/target001.png" alt="background image"/>
<p style="position:absolute;top:259px;left:266px;white-space:nowrap" class="ft11">VOTRE SITUATION ACTUELLE</p>
<p style="position:absolute;top:308px;left:100px;white-space:nowrap" class="ft12"><b>Situation actuelle</b></p>
<p style="position:absolute;top:308px;left:399px;white-space:nowrap" class="ft12"><b>Mensualités</b></p>
<p style="position:absolute;top:308px;left:707px;white-space:nowrap" class="ft12"><b>CRD</b></p>
<p style="position:absolute;top:343px;left:34px;white-space:nowrap" class="ft13">Crédit(s) immobilier</p>
<p style="position:absolute;top:362px;left:34px;white-space:nowrap" class="ft115">Autre(s) crédits(s)<br/>Découvert</p>
<p style="position:absolute;top:402px;left:34px;white-space:nowrap" class="ft13">Trésorerie souhaitée</p>
<p style="position:absolute;top:426px;left:34px;white-space:nowrap" class="ft14"><i>TOTAL</i></p>
<p style="position:absolute;top:505px;left:304px;white-space:nowrap" class="ft15">NOUVELLE SITUATION</p>
<p style="position:absolute;top:540px;left:343px;white-space:nowrap" class="ft16"><b>Votre&#160;besoin&#160;(frais</b></p>
<p style="position:absolute;top:561px;left:383px;white-space:nowrap" class="ft16"><b>inclus):</b></p>
<p style="position:absolute;top:551px;left:670px;white-space:nowrap" class="ft16"><b>Taux&#160;débiteur&#160;fixe:</b></p>
<p style="position:absolute;top:583px;left:93px;white-space:nowrap" class="ft16"><b>Regroupement&#160;de</b></p>
<p style="position:absolute;top:606px;left:134px;white-space:nowrap" class="ft16"><b>crédits</b></p>
</div>

<button (click)="download()"></button>
</div>