<div class="app-page-title" >
    <div class="page-title-wrapper">

        <div class="widget-content-left mr-3">

        </div>

        <div class="page-title-heading">

            <div>
                Fiche Contact

            </div>
        </div>


        <div class="page-title-actions">



            <button type="button" (click)="addPros()"
                class="btn-shadow d-inline-flex align-items-center btn btn-success ml-2">Enregistrer</button>
            <button type="button" (click)="addPros1()"
                class="btn-shadow d-inline-flex align-items-center btn btn-success ml-2">
                Qualification</button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-1"></div>
    <div class="col-5">


        <div class="main-card mb-3 card">
            <div class="card-body">

                <form class="container mb-3 mt-3" [formGroup]="prosForm">








                    <h5>Emprunteur</h5>

                    <div class="example-container">

                        <mat-form-field>
                            <mat-label>Civilité</mat-label>
                            <mat-select formControlName="civilite_e" >
                                <mat-option value="Mr">Mr</mat-option>
                                <mat-option value="Mme">Mme</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="example-container">

                        <mat-form-field>
                            <input matInput placeholder="Nom" formControlName="nom_e" >
                        </mat-form-field>
                    </div>

                    <div class="example-container">

                        <mat-form-field>
                            <input matInput placeholder="Prénom" formControlName="prenom_e" >
                        </mat-form-field>
                    </div>
                    <div class="example-container">

                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Date de Naissance"
                             formControlName="dateness_e">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="example-container">

                        <mat-form-field>

                            <input matInput placeholder="Téléphone Portable" formControlName="telp_e"
                               >
                        </mat-form-field>
                    </div>
                    <div class="example-container">

                        <mat-form-field>
                            <input matInput placeholder="Adresse Mail" formControlName="mail_e" >
                        </mat-form-field>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-5" *ngIf="co == 'Oui'">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <form class="container mb-3 mt-3" [formGroup]="prosForm">

                    <div  >

                        <h5>Co-emprunteur</h5>


                        <div class="example-container">

                            <mat-form-field>
                                <mat-label>Civilité</mat-label>
                                <mat-select formControlName="civilite_co" >
                                    <mat-option value="Mr">Mr</mat-option>
                                    <mat-option value="Mme">Mme</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom" formControlName="nom_co">
                            </mat-form-field>
                        </div>
                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Prénom" formControlName="prenom_co">
                            </mat-form-field>
                        </div>
                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="picker" placeholder="Date de Naissance"
                                    formControlName="dateness_co">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="example-container">

                            <mat-form-field class="example-full-width">

                                <input matInput placeholder="Téléphone Portable" formControlName="telp_co">
                            </mat-form-field>
                        </div>

                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Adresse Mail" formControlName="mail_co">
                            </mat-form-field>

                        </div>

                    </div>

                </form>
            </div>
        </div>


    </div>
</div>


<div class="row">

    <div class="col-1"></div>

<div class="col-10">

    <div class="main-card mb-3 card">
        <div class="card-body">

            <form class="container mb-3 mt-3" [formGroup]="prosForm">





               

                        <div class="example-container">

                            <mat-form-field>
                                <mat-label>Situation famille</mat-label>
                                <mat-select formControlName="situationfamille" >
                                    <mat-option value="Marié">Marié</mat-option>
                                    <mat-option value="Célibataire">Célibataire</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>




                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Adresse" formControlName="adresse">

                            </mat-form-field>

                        </div>


                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Code Postal" formControlName="codepostal">

                            </mat-form-field>

                        </div>


                        <div class="example-container">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Ville" formControlName="ville">

                            </mat-form-field>

                        </div>



               







            </form>



        </div>
    </div>

</div>
</div>