<ngb-tabset class="tabs-animated tabs-animated-shadow">

  <ngb-tab>
    <ng-template ngbTabTitle><span>Contact</span></ng-template>
    <ng-template ngbTabContent>


<app-editprosp></app-editprosp>




    </ng-template>
  </ngb-tab>



  <ngb-tab>
    <ng-template ngbTabTitle><span>Qualification</span></ng-template>
    <ng-template ngbTabContent>


     <app-editqualification></app-editqualification>


    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Score</span></ng-template>
    <ng-template ngbTabContent>


     <app-add></app-add>


    </ng-template>
  </ngb-tab>


</ngb-tabset>



